{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
<script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
{% endblock css %}

{% block contenido %}
<section id="bienvenida">
    <h2>Mis mascotas Adoptadas</h2>
    <div style="text-align: center;">
        <h4>Usuario: <b>{{user.username}}</b> </h4>
        <h5>Nombre: <b>{{user.first_name}} {{user.last_name}}</b> </h5>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae necessitatibus fugit quam laboriosam
        omnis ullam, atque autem consequuntur beatae quae quibusdam libero temporibus perferendis iusto a
        blanditiis, commodi velit exercitationem.</p>
</section>

<div style="text-align: center;font-size: xx-large;">Listado de Mascotas (Cantidad : {{cant}} )</div>

<!-- listado de mascotas o operaciones-->
<section style="padding: 20px;">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Imagen</th>
                <th>Descripcion</th>
                <th>Categoria</th>
                <th>Operacion</th>
            </tr>
        </thead>
        <tbody>
            {% for reg in mascotas %}
            <tr>
                <td>{{reg.nombre}}</td>
                <td>{{reg.edad}}</td>
                <td>
                    <img src="{{reg.imagen.url}}" width="100px" height="100px">
                </td>
                <td>{{reg.descripcion}}</td>
                <td>{{reg.categoria.nombre}}</td>
                <td>
                    <button class="btn btn-danger" onclick="devolver('{{reg.nombre}}')">Devolver</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock contenido %}
{% block js %}
<script>

    function devolver(nombre) {

        Swal.fire({
            title: 'Desea devolver la mascota ' + nombre + ' ?',
            showCancelButton: true,
            confirmButtonText: `Devolver`
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                location.href = '/devolver/' + nombre + '/';
            }
        })
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
{% endblock js %}