<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Perris</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/fontello.css">
</head>

<body>
    <!-- cabecera de la pagina web -->
    <header>
        <!-- capa que contiene los elementos de la cabecera -->
        <div class="contenedor">
            <h1 class="icon-guidedog">Mis Perris</h1>
            <!-- permite activar el menu lateral (MOVIL) -->
            <input type="checkbox" name="" id="menu-bar">
            <label class="icon-credit-card" for="menu-bar"></label>
            <!-- barra de navegacion del menu -->
            <nav class="menu">
                <a href="index.html">Inicio</a>
                <a href="galeria.html">Galeria</a>
                <a href="formulario.html">Formulario</a>
                <a href="">Quienes Somos</a>
            </nav>
        </div>
    </header>
    <!-- sector principal de la pagina -->
    <main>
        <!-- secciones de contenido -->
        <section id="banner">
            <img src="img/perro1.jpg" alt="">
            <div class="contenedor">
                <h2>Mascotas Felices en mis perris</h2>
                <p>Cual es la mejor mascota para usted</p>
                <a href="">Leer Mas</a>
            </div>
        </section>

        <section id="bienvenida">
            <h2>Bienvenidos a nuestro club</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae necessitatibus fugit quam laboriosam
                omnis ullam, atque autem consequuntur beatae quae quibusdam libero temporibus perferendis iusto a
                blanditiis, commodi velit exercitationem.</p>
        </section>

        <section id="blog">
            <h3>lo ultimo de nuestro blog</h3>
            <div class="contenedor">
                <article>
                    <img src="img/perro2.png" alt="">
                    <h4>Perrunos son amigos</h4>
                </article>
                <article>
                    <img src="img/perro3.jpg" alt="">
                    <h4>Simpatia perruna</h4>
                </article>
                <article>
                    <img src="img/perro4.jpg" alt="">
                    <h4>La linda mascota</h4>
                </article>
            </div>
        </section>

        <section id="info">
            <h3>para muchos de nosotros las mascotas son miembros de nuestra familia</h3>
            <div class="contenedor">
                <article>
                    <img src="img/perro2.png" alt="">
                    <h4>Perruno</h4>
                </article>
                <article>
                    <img src="img/perro3.jpg" alt="">
                    <h4>Lindo</h4>
                </article>
                <article>
                    <img src="img/perro4.jpg" alt="">
                    <h4>Chuleta</h4>
                </article>
                <article>
                    <img src="img/perro5.jpg" alt="">
                    <h4>KK Can</h4>
                </article>
            </div>
        </section>
    </main>

</body>

</html>